.apresentacao-dados {
    padding: 136px 0px;
    position: relative;
}

.apresentacao-dados__container {
    max-width: 768px;
    margin: auto;
    padding: 0 24px;
}

.apresentacao-dados__titulo {
    font-family: var(--barlow);
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    position: relative;
}

.apresentacao-dados__titulo::before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background: url(../../img/dados/stonks-icon.svg) no-repeat center / contain;
    position: absolute;
    top: -56px;
    left: -4px;
}

.apresentacao-dados__titulo::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    margin-top: 32px;
    margin-bottom: 56px;
    background-image: linear-gradient(to right, var(--azul), transparent);
}

.apresentacao-dados__titulo.apresentacao-dados__titulo--bars::before {
    background-image: url(../../img/dados/bars-icon.svg);
}

.apresentacao-dados__topico:nth-of-type(2) {
    padding: 160px 0 120px 0;
    margin-top: 56px;
    background-color: #F0F8FF;
}

.apresentacao-dados__grafico--768 {
    display: none;
}

@media screen and (max-width: 768px) {

    .apresentacao-dados {
        padding-top: 0;
        top: -100px;
    }

    .apresentacao-dados__titulo {
        font-size: 16px;
    }

    .apresentacao-dados__grafico {
        display: none;
    }

    .apresentacao-dados__grafico--768 {
        display: block;
        width: 100%;
    }
}



